<%- include('../partials/header') %>
<% if (user) { %>
<title>Your Plan</title>

<section class="plan-section">
  <img src="/images/SSplan.png" alt="Plan-header Image" class="SS-plan-image">

  <div class="plan-table-container">
    <table class="plan-table">
      <thead>
        <tr>
          <th>What needs to happen?</th>
          <th>By When?</th>
          <th>By Who?</th>
          <th>Tick When Complete!</th>
        </tr>
      </thead>
      <tbody>
        <% plans.forEach(function(p) { %>
        <tr>
          <td><%= p.what %></td>
          <td><%= p.when.toLocaleDateString() %></td>
          <td><%= p.who %></td>
          <td>
            <form action="/plans/<%= p.id %>?_method=DELETE" class="delete-form" method="POST">
              <button id="complete" type="submit">✓</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <a href="/plans/new"><button>Add To Plan</button></a>
  </div>
</section>

<% } %>

<%- include('../partials/footer') %>