 <%- include('../partials/header') %>

<title> My Plan</title>

<h2> My Plan </h2>
<% if (user) { %>
<div>
    <table>
     <thead>
      <tr>
        <th>What needs to happen?</th>
        <th>By When?</th>
        <th>By Who?</th>
        <th>Tick When Complete!</th>
      </tr>
      </thead>
      <tbody>
       <% plans.forEach(function(p) { %>
       
      <tr>
        <td>
          <div><%= p.what %></div>
        </td>
        <td>
          <div><%= p.when.toLocaleDateString() %></div>
        </td>
        <td>
          <div><%= p.who %></div>
        </td>
        <td>
          <div><form action="/plans/<%= p.id %>?_method=DELETE"
          class="delete-form" 
          method="POST">
          <button id="complete" type="submit">✓</button> 
          </form>
          </div>
        </td>
      </tr>
  <% }) %>
      </tbody>
         </table>
    <a href="/plans/new"><button>Add To Plan</button></a>
  </div>
<% } %>

  
 <%- include('../partials/footer') %>