 <%- include('../partials/header') %>
 <br>
 <br>

<% if (user) { %>

<section>
  <br>
<div>Your Thoughts From: <%= thought.date.toLocaleDateString() %></div>
  <br><br>
  <label for="goingWell"> What is going well for you at the moment?</label>
  <br>
     <div name="goingWell" id="goingWell"><%= thought.goingWell %></div>
     <br><br><br>

     <label for="goingWell"> What is worrying you at the moment?</label>
  <br>
   <div name="worries" id="worries"><%= thought.worries %></div>
 <br><br><br>
    <label for="feeling">On a scale of 1-10, how do you feel today...</label>
    <br>
    <div name="feeling" id="feeling"><%= thought.feeling %></div>
    </section>
    <br><br>
<form id = "update-thought" action="/thoughts" method="POST">
<br>
<label for="updateThought">Add an update: </label>
    <br>
    <textarea name="goingWell" id="goingWell"></textarea>
    <br><br>
    <input type="submit" value="Save & Close">
    </form>
  

     <% } %>
<%- include('../partials/footer') %>